.button {
  cursor: pointer;
  display: inline-block;
  font-weight: var(--fw-400);
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 5px 12px;
  min-height: 100%;
  border-radius: 4px;
  color: var(--color-white);
}

.primary {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.primary:hover {
  background-color: var(--color-primary-hover);
  border-color: var(--color-primary-hover);
}

.secondary {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.secondary:hover {
  background-color: var(--color-secondary-hover);
  border-color: var(--color-secondary-hover);
}

.danger {
  color: var(--color-danger);
  background-color: transparent;
  border-color: var(--color-danger);
}

.danger:hover {
  color: var(--color-white);
  background-color: var(--color-danger);
  border-color: var(--color-danger);
}
